.img-wrapper {
    height: 90vh;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-img {
    height: 90vh;
    width: 100vw;
    filter: sepia(80%);
    opacity: 70%;
}

.guitars-button {
    color: rgb(153, 31, 31);
    text-decoration: none;
    background-color: bisque;
    border: 3px solid bisque;
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    z-index: 2;
    opacity: 90%;
}

.guitars-button:hover {
    background-color: rgb(153, 31, 31);
    color: bisque;
    border-color: bisque;
}